/* FONTS: */
@font-face {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Nunito Sans"),
        url(fonts/Nunito-Sans-Regular.woff2) format(woff2),
        url(fonts/Nunito-Sans-Regular.woff) format(woff);
}
@font-face {
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: 400;
    src: local("Yeseva One"),
        url(fonts/Yeseva-One-Regular.woff2) format(woff2),
        url(fonts/Yeseva-One-Regular.woff) format(woff);
}
@font-face {
    font-family: "Nunito Sans";
    font-style: italic;
    font-weight: 400;
    src: local("Nunito Sans"),
        url(fonts/Nunito-Sans-Italic.woff2) format(woff2),
        url(fonts/Nunito-Sans-Italic.woff) format(woff);
}
/* ALL: */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* HEADER: */
.header {
    background-color: #131313;
    height: 83px;
}
.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 24px 0 22px;
    width: 1256px;
}
.header__logo {
    color: #E3B873;
    font-family: "Nunito Sans", sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    text-transform: uppercase;
    width: 180px;
}
.header__list {
    color: #E3B873;
    display: flex;
    gap: 47px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.header__item {
    list-style-type: none;
}
.header__link {
    color: #FFFFFF;
    text-decoration: none;
}
.header__link:hover {
    color: #E3B873;
}
.header__tel {
    color: #FFFFFF;
    cursor: pointer;
    font-family: "Nunito Sans", sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: right;
    width: 126px;
}
.header__tel:hover {
    color: #E3B873;
    text-decoration-line: underline;
}
.header__btn {
    background-color: #E3B873;
    border: 0;
    border-radius: 2px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: "Nunito Sans", sans-serif;
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    padding: 13px 33px;
    text-align: center;
    text-transform: uppercase;
}
.header__btn:hover {
    box-shadow: 0 5px 15px 0 rgba(227, 184, 115, 0.2);
}
/* MAIN: */
.main {
    position: relative;
    z-index: 2;
}
/* hero - section: */
.main__hero {
    background-image: url(images/png/card-photo-1.png);
    background-size: cover;
    height: 707px;
    position: relative;
}
.main__hero::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
.main__hero-content {
    margin: 0 auto;
    position: relative;
    width: 1172px;
}
.main__hero-wrapper {
    margin-top: 194px;
    position: absolute;
    z-index: 1;
}
.main__heading_lvl_1 {
    color: #FFFFFF;
    font-family: "Yeseva One", serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 133%;
    text-transform: uppercase;
    width: 676px;
    height: 105px;
}
.main__heading_city_rod {
    color: #E3B873;
}
.main__hero-text {
    color: #FFFFFF;
    font-family: "Nunito Sans", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 164%;
    margin-top: 19px;
    width: 504px;
    height: 89px;
}
.main__hero-btns {
    display: flex;
    gap: 20px;
    margin-top: 41px;
}
.main__hero_btn_1 {
    background-color: #E3B873;
    border: 0;
    border-radius: 2px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: "Nunito Sans", sans-serif;
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    width: 207px;
    height: 51px;
}
.main__hero_btn_1:hover {
    box-shadow: 0 5px 15px 0 rgba(227, 184, 115, 0.3);
}
.main__hero_btn_2 {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: "Nunito Sans", sans-serif;
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    width: 207px;
    height: 51px;
}
/* project - section: */
.main__project {
    background-color: #131313;
}
.main__project-content {
    margin: 0 auto;
    width: 1172px;
}
.main__project-wrapper {
    padding-top: 107px;
    padding-bottom: 415px;
}
.main__project-list {
    display: flex;
    justify-content: end;
    gap: 61px;
    margin-right: 56px;
}
.main__project-item {
    list-style-type: none;
}
.main__project-link {
    color: rgba(255, 255, 255, 0.3);
    font-family: "Yeseva One", serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 139%;
    text-decoration: none;
    text-transform: uppercase;
}
.rod-admiral {
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
    padding-bottom: 7px;
}
.main__project-info {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}
.main__project-desc {
    width: 442px;
}
.main__project-heading_lvl_2 {
    color: #E3B873;
    font-family: "Yeseva One", serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -2px;
    line-height: 139%;
    text-transform: uppercase;
}
.main__project-text {
    color: #FFFFFF;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 191%;
    margin-top: 34px;
    width: 442px;
    height: 86px;
}
.white-space_nowrap {
    white-space: nowrap;
}
.main__project-mobile-img {
    display: none;
}
.main__project-parameter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 34px;
    column-gap: 29px;
    margin-top: 42px;
}
.main__project_1st-parameter {
    order: 1;
}
.main__project_2nd-parameter {
    order: 3;
    width: 161px;
}
.main__project_3rd-parameter {
    order: 2;
}
.main__project_4th-parameter {
    order: 4;
}
.main__project-arg {
    color: #E3B873;
    font-family: "Yeseva One", serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 139%;
    text-transform: uppercase;
}
.main__project-val {
    color: #FFFFFF;
    font-family: "Nunito Sans", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    height: 42px;
    line-height: 164%;
    margin-top: 9px;
}
.main__project-scroll {
    margin-top: 84px;
    width: 206px;
}
.main__project-img {
    width: 679px;
    height: 482px;
}
/* control - section: */
.main__control {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: -324px auto 0;
    width: 817px;
}
.main__control-heading_lvl_2 {
    color: #FFFFFF;
    font-family: "Yeseva One", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    height: 26px;
    line-height: 139%;
    text-align: center;
    text-transform: uppercase;
}
.main__control-img {
    margin-top: 13px;
    width: 114px;
    height: 28px;
}
.main__control-photo {
    background-image: url(images/png/card-photo-3.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 31px;
    position: relative;
    width: 817px;
    height: 434px;
}
.main__control-photo::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.main__control-play {
    cursor: pointer;
    position: absolute;
    width: 145px;
    height: 145px;
    z-index: 1;
}
.main__control-line {
    margin-top: 63px;
    margin-bottom: 34px;
}
.main__control-text {
    color: #363636;
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 205%;
    text-align: center;
    width: 686px;
    height: 131px;
}
.main__control-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 93px;
}
.main__control-form-data {
    display: flex;
    flex-direction: row;
}
.main__control-form_data_1{
    border-bottom: 1px solid #3636364D;
    margin-right: 58px;
    padding-bottom: 7px;
    width: 231px;
}
.main__control-form_data_2{
    border-bottom: 1px solid #3636364D;
    margin-right: 49px;
    padding-bottom: 7px;
    width: 231px;
}
.main__control-form_data_arg {
    color: rgba(54, 54, 54, 0.5);
    font-family: "Nunito Sans", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 164%;
}
.main__control-form_data_val {
    color: #363636;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 164%;
}
.main__control-form-btn {
    background-color: #E3B873;
    border: 0;
    border-radius: 2px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: "Nunito Sans", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 205%;
    text-align: center;
    text-transform: uppercase;
    width: 200px;
    height: 51px;
}
.main__control-form_data_input {
    border: 0;
    width: 98px;
}
.main__control-form-agr {
    color: #181818;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 164%;
    margin-top: 39px;
}
.main__control-form-label {
    cursor: pointer;
}
.main__control-form_checkbox_true {
    display: none;
}
.main__control-form_checkbox_fake {
    background: #E3B873;
    color: #FFFFFF;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
}
.main__control-form_checkbox_fake::before {
    content: "\2714";
    opacity: 1;
}
.main__control-form_checkbox_true:checked + .main__control-form_checkbox_fake::before {
    opacity: 0;
}
/* repair - section: */
.main__repair {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 148px auto 0;
    width: 1236px;
}
.main__repair-heading_lvl_2 {
    color: #181818;
    font-family: "Yeseva One", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 139%;
    text-align: center;
    text-transform: uppercase;
}
.main__repair-img {
    margin-top: 13px;
}
.main__repair-content {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    margin-top: 31px;
}
.main__repair-project {
    display: flex;
    flex-direction: column;
}
.main__repair-project-img {
    background-position: center;
    background-size: cover;
    width: 392px;
    height: 421px;
}
.main__repair-project:nth-child(1) .main__repair-project-img {
    background-image: url(images/png/card-photo-4.png);
}
.main__repair-project:nth-child(2) .main__repair-project-img {
    background-image: url(images/png/card-photo-5.png);
}
.main__repair-project:nth-child(3) .main__repair-project-img {
    background-image: url(images/png/card-photo-6.png);
}
.main__repair-wrapper {
    background-color: #FFFFFF;
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.03);
    margin: -98px auto 0;
    padding: 25px 29px 49px 34px;
    width: 330px;
}
.main__repair-heading_lvl_3 {
    color: #363636;
    font-family: "Yeseva One", serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 139%;
}
.main__repair-list {
    margin-top: 13px;
    margin-left: 12px;
}
.main__repair-item {
    color: #959595;
    font-family: "Nunito Sans", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 205%;
}
.main__repair-btn {
    background-color: #E3B873;
    border: 0;
    color: #FFFFFF;
    cursor: pointer;
    font-family: "Yeseva One", serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 139%;
    margin-top: -27px;
    margin-left: 31px;
    text-transform: uppercase;
    width: 228px;
    height: 54px;
}
.main__repair-btn:hover {
    box-shadow: 5px 5px 10px 0 rgba(227, 184, 115, 0.3);
}
/* measurer - section: */
.main__measurer {
    background-image: url(images/png/card-photo-7.png);
    background-repeat: no-repeat;
    display: flex;
    margin: 124px auto 0;
    width: 1440px;
    height: 725px;
}
.main__measurer-list {
    display: flex;
    flex-direction: column;
    gap: 95px;
    padding-top: 109px;
    padding-left: 242px;
}
.main__measurer-item {
    display: flex;
    align-items: center;
    gap: 9px;
    list-style-type: none;
}
.main__measurer-nmbr {
    background-color: #E3B873;
    border: 8px solid #FFFFFF;
    border-radius: 30px;
    box-shadow: 0 5px 15px 0 rgba(227, 184, 115, 0.15);
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Yeseva One", serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 139%;
    text-align: center;
    width: 50px;
    height: 50px;
}
.main__measurer-serv {
    color: #363636;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.main__measurer-form {
    background-color: #131313;
    margin-top: 106px;
    margin-left: 188px;
    padding: 28px 49px 0;
    width: 506px;
    height: 509px;
}
.main__measurer-form-heading {
    color: #FFFFFF;
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 143%;
    margin: 0 auto;
    text-align: center;
    width: 297px;
    height: 47px;
}
.main__measurer-form_data_1 {
    margin-top: 39px;
}
.main__measurer-form_data_2 {
    margin-top: 48px;
}
.main__measurer-form_data_3 {
    margin-top: 48px;
}
.main__measurer-form_data_arg {
    color: rgba(255, 255, 255, 0.5);
    font-family: "Nunito Sans", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 164%;
}
.main__measurer-form_data_val {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    color: #FFFFFF;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 164%;
    padding-bottom: 3px;
}
.main__measurer-form_data_input {
    background-color: #131313;
    border: 0;
}
.main__measurer-form-agr {
    color: #FFFFFF;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 164%;
    margin-top: 16px;
}
.main__measurer-form-label {
    cursor: pointer;
}
.main__measurer-form_checkbox_true {
    display: none;
}
.main__measurer-form_checkbox_fake {
    background: #E3B873;
    color: #FFFFFF;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
}
.main__measurer-form_checkbox_fake::before {
    content: "\2714";
    opacity: 1;
}
.main__measurer-form_checkbox_true:checked + .main__measurer-form_checkbox_fake::before {
    opacity: 0;
}
.main__measurer-form-btn {
    background: #E3B873;
    border: 0;
    color: #FFFFFF;
    cursor: pointer;
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 164%;
    margin-top: 39px;
    margin-left: 195px;
    text-transform: uppercase;
    width: 213px;
    height: 51px;
}
.main__measurer-form-btn:hover {
    box-shadow: 0 5px 15px 0 rgba(227, 184, 115, 0.15);
}
.main__measurer-money-box {
    display: flex;
    margin-top: 52px;
    margin-left: -37px;
}
.main__measurer-money-box-img {
    width: 113px;
    height: 113px;
}
.main__measurer-money-box-text {
    color: #E3B873;
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 143%;
    margin-top: 20px;
    text-shadow: 0 3px 10px rgba(227, 184, 115, 0.15);
}
/* fantasies - section: */
.main__fantasies {
    background-image: url(images/png/card-photo-8.png);
    background-position: center;
    background-size: cover;
    margin: 242px auto 0;
    position: relative;
    width: 1440px;
    height: 864px;
    z-index: 0;
}
.main__fantasies::after {
    content: "";
    background: linear-gradient(110deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.main__fantasies-content {
    display: flex;
    position: relative;
    z-index: 2;
}
.main__fantasies-wrapper {
    margin-top: 137px;
    margin-left: 99px;
}
.main__fantasies-heading {
    color: #E3B873;
    font-family: "Yeseva One", serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 139%;
    text-transform: uppercase;
    width: 411px;
    height: 66px;
}
.main__fantasies-list {
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin-top: 44px;
}
.main__fantasies-item {
    list-style-type: none;
}
.main__fantasies-link {
    color: #FFFFFF;
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 191%;
    text-decoration: none;
}
.main__fantasies-item:nth-child(1) .main__fantasies-link {
    border-bottom: 1px solid #E3B873;
    color: #E3B873;
}
.main__fantasies-gallery {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 354px 354px;
    gap: 40px;
    margin-top: -41px;
    margin-left: 77px;
}
.main__fantasies-img:nth-child(1) {
    object-fit: cover;
    width: 354px;
    height: 558px;
}
.main__fantasies-img:nth-child(2) {
    margin-top: -71px;
}
.main__fantasies-img:nth-child(4) {
    margin-top: -353px;
}
/* clients - section: */
.main__clients {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 110px auto 0;
    width: 1440px;
}
.main__clients-heading {
    color: #181818;
    font-family: "Yeseva One", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 139%;
    text-align: center;
    text-transform: uppercase;
}
.main__clients-img {
    margin-top: 13px;
    width: 114px;
    height: 28px;
}
.main__clients-recommend {
    color: #363636;
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 164%;
    text-align: center;
    margin-top: 24px;
    width: 476px;
    height: 57px;
}
.main__clients-list {
    display: flex;
    gap: 54px;
    margin-top: 39px;
}
.main__clients-item {
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.04);
    list-style-type: none;
    width: 376px;
    height: 428px;
}
.main__clients-wrapper {
    margin-top: 20px;
    margin-left: 20px;
}
.main__client-info {
    display: flex;
    align-items: center;
    gap: 23px;
}
.main__client-photo {
    border-radius: 50%;
}
.main__client-name {
    color: #181818;
    font-family: "Yeseva One", serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 127%;
    width: 178px;
    height: 42px;
}
.main__client_text_1st {
    color: #959595;
    font-family: "Nunito Sans", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    margin-top: 23px;
}
.main__client_text_2nd {
    color: #959595;
    font-family: "Nunito Sans", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    margin-top: 12px;
}
.main__client-parameters {
    background-color: #E3B873;
    box-shadow: 5px 5px 20px 0 rgba(227, 184, 115, 0.5);
    color: #FFFFFF;
    display: flex;
    font-family: "Yeseva One", serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 139%;
    margin-top: 60px;
    text-transform: uppercase;
    width: 294px;
    height: 54px;
}
.main__client-area {
    border-right: 1px solid #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 139px;
}
.main__client-days {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    width: 155px;
}
/* background - div: */
.main__background {
    background-image: url(images/png/card-photo-16.png);
    margin: 0 auto;
    opacity: 0.1;
    width: 1440px;
    height: 449px;
}
/* FOOTER: */
.footer {
    background-color: #131313;
}
.footer__content {
    width: 1440px;
    margin: 0 auto;
}
.footer__wrapper {
    background-image: url(images/png/card-photo-17.png);
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 1440px;
    height: 954px;
}
.footer__wrapper::after {
    content: "";
    background: linear-gradient(#181818, #181818CC);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.footer__form {
    background-color: #131313;
    width: 883px;
    margin-top: -223px;
    margin-left: 289px;
    padding: 34px 182px 0;
    position: absolute;
    z-index: 3;
}
.footer__form-heading {
    color: #FFFFFF;
    font-family: "Yeseva One", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 139%;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    width: 257px;
    height: 26px;
}
.footer__form-data {
    display: flex;
    flex-wrap: wrap;
    row-gap: 49px;
    column-gap: 55px;
    margin-top: 46px;
}
.footer__form_data_1 {
    width: 231px;
}
.footer__form_data_2 {
    width: 231px;
}
.footer__form_data_3 {
    width: 517px;
}
.footer__form_data_arg {
    color: rgba(255, 255, 255, 0.5);
    font-family: "Nunito Sans", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 164%;
}
.footer__form_data_val {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    color: #FFFFFF;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 164%;
    padding-bottom: 3px;
}
.footer__form_data_input {
    background-color: #131313;
    border: 0;
    width: 95px;
}
.footer__form-agr {
    color: #FFFFFF;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 164%;
    margin-top: 46px;
    text-align: center;
}
.footer__form-label {
    cursor: pointer;
}
.footer__form_checkbox_true {
    display: none;
}
.footer__form_checkbox_fake {
    background: #E3B873;
    color: #FFFFFF;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
}
.footer__form_checkbox_fake::before {
    content: "\2714";
    opacity: 1;
}
.footer__form_checkbox_true:checked + .footer__form_checkbox_fake::before {
    opacity: 0;
}
.footer__form-btn {
    background-color: #E3B873;
    border: 0;
    border-radius: 2px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: "Nunito Sans", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 205%;
    margin-top: 50px;
    margin-left: 160px;
    margin-bottom: 34px;
    text-align: center;
    text-transform: uppercase;
    width: 200px;
    height: 51px;
}
.footer__form-btn:hover {
    box-shadow: 0 5px 15px 0 rgba(227, 184, 115, 0.15);
}
.footer__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 275px;
    margin-left: 255px;
    position: absolute;
    z-index: 1;
}
.footer__contact-addr {
    color: #E3B873;
    font-family: "Yeseva One", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 139%;
    text-align: center;
    text-transform: uppercase;
    width: 589px;
    height: 51px;
}
.footer__contact_white-space_nowrap {
    white-space: nowrap;
}
.footer__contact-icons {
    display: flex;
    gap: 15px;
    margin-top: 26px;
}
.footer__contact-icon {
    width: 28px;
    height: 28px;
}
.footer__contact-map {
    margin-top: 43px;
    width: 925px;
    height: 465px;
}
.footer__menu {
    background-color: #131313;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 48px 0 48px;
    width: 1256px;
    height: 133px;
}
.footer__logo {
    color: #E3B873;
    font-family: "Nunito Sans", sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    text-transform: uppercase;
    width: 180px;
}
.footer__list {
    color: #E3B873;
    display: flex;
    gap: 47px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer__item {
    list-style-type: none;
}
.footer__link {
    color: #FFFFFF;
    text-decoration: none;
}
.footer__link:hover {
    color: #E3B873;
}
.footer__tel {
    color: #FFFFFF;
    cursor: pointer;
    font-family: "Nunito Sans", sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: right;
    width: 126px;
}
.footer__tel:hover {
    color: #E3B873;
    text-decoration-line: underline;
}
.footer__btn {
    background-color: #E3B873;
    border: 0;
    border-radius: 2px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: "Nunito Sans", sans-serif;
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    padding: 13px 33px;
    text-align: center;
    text-transform: uppercase;
}
.footer__btn:hover {
    box-shadow: 0 5px 15px 0 rgba(227, 184, 115, 0.2);
}
/* @MEDIA: */
@media (min-width: 375px) and (max-width: 1299px) {
    /* HEADER: */
    .header {
        height: 57px;
    }
    .header__content {
        width: 339px;
    }
    .header__list {
        display: none;
    }
    .header__btn {
        display: none;
    }
    /* MAIN: */
    /* hero - section: */
    .main__hero {
        background-position: center;
        height: 476px;
    }
    .main__hero-content {
        margin: 0 auto;
        width: 339px;
    }
    .main__hero-wrapper {
        margin-top: 85px;
    }
    .main__heading_lvl_1 {
        font-size: 23px;
        width: 339px;
        height: 60px;
    }
    .main__hero-text {
        font-size: 14px;
        line-height: 136%;
        margin-top: 16px;
        width: 339px;
        height: 94px;
    }
    .main__hero-btns {
        flex-direction: column;
        gap: 26px;
        margin-top: 32px;
    }
    .main__hero_btn_1 {
        width: 339px;
        height: 51px;
    }
    .main__hero_btn_2 {
        width: 339px;
        height: 51px;
    }
    /* project - section: */
    .main__project-content {
        width: 340px;
    }
    .main__project-wrapper {
        padding-top: 32px;
    }
    .main__project-list {
        display: none;
    }
    .main__project-info {
        flex-direction: column;
        margin-top: 0;
    }
    .main__project-desc {
        width: 340px;
        margin: 0 auto;
    }
    .main__project-heading_lvl_2 {
        font-size: 22px;
        letter-spacing: -1.54px;
        margin: 0 auto;
        text-align: center;
        width: 220px;
        height: 66px;
    }
    .main__project-text {
        font-size: 11px;
        line-height: 158%;
        margin: 22px auto 0;
        text-align: center;
        width: 311px;
        height: 86px;
    }
    .main__project-mobile-img {
        display: flex;
        width: 340px;
        height: 241.355px;
    }
    .main__project-parameter {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 27px;
        column-gap: 31px;
        margin-top: 42px;
    }
    .main__project_1st-parameter {
        width: 129px;
    }
    .main__project_2nd-parameter {
        width: 129px;
    }
    .main__project-arg {
        font-size: 14px;
    }
    .main__project-val {
        font-size: 11px;
        line-height: 136%;
    }
    .main__project-scroll {
        display: none;
    }
    .main__project-img {
        display: none;
    }
    /* control - section: */
    .main__control-mobile-wrapper {
        background-color: #131313;
        height: 842px;
    }
    .main__control {
        margin: -324px auto 0;
        width: 340px;
    }
    .main__control-heading_lvl_2 {
        font-size: 22px;
    }
    .main__control-img {
        margin-top: 20px;
    }
    .main__control-photo {
        margin-top: 40px;
        width: 340px;
        height: 207px;
    }
    .main__control-play {
        width: 97px;
        height: 97px;
    }
    .main__control-line {
        margin-top: 28px;
        margin-bottom: 21px;
    }
    .main__control-text {
        color: #FFFFFF;
        font-size: 11px;        
        line-height: 170%;
        width: 340px;
        height: 107px;
    }
    .main__control-form {
        color: #FFFFFF;
        margin-top: 61px;
    }
    .main__control-form-data {
        flex-direction: column;
    }
    .main__control-form_data_1{
        margin-right: 0px;
        width: 340px;
    }
    .main__control-form_data_2{
        margin-top: 63px;
        margin-right: 0px;
        width: 340px;
    }
    .main__control-form_data_arg {
        color: #FFFFFF;
    }
    .main__control-form_data_val {
        color: #FFFFFF;
    }
    .main__control-form_data_input {
        background-color: #131313;
    }
    .main__control-form-btn {
        margin-top: 107px;
        width: 340px;
        height: 51px;
    }
    .main__control-form-agr {
        color: #FFFFFF;
        position: absolute;
        margin-top: 180px;
        margin-right: 35px;
    }
    /* repair - section: */
    .main__repair {
        margin: 83px auto 0;
        width: 340px;
    }
    .main__repair-heading_lvl_2 {
        font-size: 22px;
    }
    .main__repair-img {
        margin-top: 17px;
    }
    .main__repair-content {
        flex-direction: column;
        gap: 59px;
        margin-top: 40px;
    }
    .main__repair-project-img {
        width: 340px;
        height: 365px;
    }
    .main__repair-wrapper {
        margin: -132px 0 0;
        padding: 21px 31px 37px;
        width: 270px;
    }
    .main__repair-heading_lvl_3 {
        font-size: 15px;
    }
    .main__repair-list {
        margin-top: 10px;
    }
    .main__repair-item {
        line-height: 170%;
    }
    .main__repair-btn {
        font-size: 15px;
        margin-top: -21px;
        margin-left: 0;
        width: 190px;
        height: 40px;
    }
    /* measurer - section: */
    .main__measurer {
        display: none;
    }
    /* fantasies - section: */
    .main__fantasies {
        background-image: none;
        margin: 55px auto 0;
        width: 340px;
        height: 332px;
    }
    .main__fantasies::after {
        content: "";
        background: #FFFFFF;
    }
    .main__fantasies-content {
        flex-direction: column;
    }
    .main__fantasies-wrapper {
        margin-top: 0;
        margin-left: 0;
    }
    .main__fantasies-heading {
        font-size: 22px;
        text-align: center;
        width: 340px;
    }
    .main__fantasies-list {
        display: none;
    }
    .main__fantasies-gallery {
        margin-top: 24px;
        margin-left: 0;
    }
    .main__fantasies-img:nth-child(1) {
        width: 340px;
        height: 242px;
    }
    .main__fantasies-img:nth-child(2) {
        display: none;
    }
    .main__fantasies-img:nth-child(3) {
        display: none;
    }
    .main__fantasies-img:nth-child(4) {
        display: none;
    }
    /* clients - section: */
    .main__clients {
        display: none;
    }
    /* background - div: */
    .main__background {
        display: none;
    }
    /* FOOTER: */
    .footer__content {
        margin-top: -121px;
        width: 340px;
    }
    .footer__wrapper {
        background-image: none;
        width: 340px;
        height: 1282px;
    }
    .footer__wrapper::after {
        content: "";
        background: #131313;
    }
    .footer__form {
        width: 340px;
        margin-top: 0;
        margin-left: 0;
        padding: 173px 0 0;
        z-index: 1;
    }
    .footer__form-data {
        row-gap: 63px;
        margin-top: 52px;
    }
    .footer__form_data_1 {
        width: 340px;
    }
    .footer__form_data_2 {
        width: 340px;
    }
    .footer__form_data_3 {
        width: 340px;
    }
    .footer__form-agr {
        text-align: left;
    }
    .footer__form-btn {
        margin-top: 67px;
        margin-left: 0;
        margin-bottom: 0;
        width: 340px;
    }
    .footer__contact {
        margin-top: 756px;
        margin-left: 0;
    }
    .footer__contact-addr {
        font-size: 18px;
        margin-top: 42px;
        order: 2;
        width: 340px;
        height: 71px;
    }
    .footer__contact-icons {
        gap: 20px;
        margin-top: 24px;
        margin-bottom: 49px;
        order: 3;
    }
    .footer__contact-icon {
        width: 39px;
        height: 39px;
    }
    .footer__contact-map {
        margin-top: 46px;
        order: 1;
        width: 340px;
        height: 255px;
    }
    .footer__menu {
        display: none;
    }
}
